<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220671515623-lgarm655j2jmhjhv9gfafe38p86rkjf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220671515623-lgarm655j2jmhjhv9gfafe38p86rkjf4</string>
	<key>API_KEY</key>
	<string>AIzaSyBcgp1EdK51RPihkIrZzRGTwghtu-AY28M</string>
	<key>GCM_SENDER_ID</key>
	<string>220671515623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>powerful-retreat-02063.herokuapp.com</string>
	<key>PROJECT_ID</key>
	<string>voice-app-303802</string>
	<key>STORAGE_BUCKET</key>
	<string>voice-app-303802.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220671515623:ios:276dd582e897098e21fb42</string>
</dict>
</plist>